name: Sanitize Mongo

on:
  workflow_dispatch:
  schedule:
    # Runs at 0 UTC Monday - 5:30 AM IST Monday
    - cron: '0 0 * * 1'

jobs:
  sanitize:
    name: Sanitize the database
    runs-on: ubuntu-latest
    steps:
      - name: Make the REST request
        uses: fjogeleit/http-request-action@master
        id: myRequest
        with:
          url: 'https://server.psn.hackclub.com/admin/sanitize/'
          method: 'POST'
          username: ${{ secrets.BASIC_USER }}
          password: ${{ secrets.BASIC_PASSWORD }}
      - name: Show Response
        run: echo ${{ steps.myRequest.outputs.response }}
